<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}CarRental{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Nagłówek -->
    <header>
        <h1>CarRental</h1>
        <hr>
    </header>

    <!-- Główna treść -->
    <main>
        {% if user.is_authenticated %}
            {% if user.groups.all.0.name == 'Employee' %}
                <p>
                    <a href="{% url 'manage_reservations' %}">Zarządzaj rezerwacjami</a>
                </p>
                <p>
                    <a href="{% url 'add_car' %}">Dodaj Samochód</a>
                </p>
            {% endif %}
            <p>
                <a href="{% url 'view_cars' %}">Przeglądaj samochody</a>
            </p>
            <p>
                <a href="{% url 'view_reservations' %}" class="btn btn-primary">Moje rezerwacje</a>
            </p>
            <p>
                <a href="{% url 'logout' %}">Wyloguj się</a>
            </p>
        {% endif %}
        
        {% block content %}
        <!-- Treść specyficzna dla widoku -->
        {% endblock %}
    </main>

    <!-- Stopka -->
    <footer>
        <p>Autorzy: Dawid Kawałko, Rafał Załęcki</p>
    </footer>
</body>
</html>
