{% extends 'client/base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}
<h2>Logowanie</h2>
<form method="post">
    {% csrf_token %}
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Zaloguj</button>
</form>
{% if form.errors %}
    <p style="color: red;">Nieprawidłowe dane logowania. Spróbuj ponownie.</p>
{% endif %}
<p>Nie masz konta? <a href="{% url 'create_client_account' %}">Utwórz konto</a></p>
{% endblock %}
